<div class="parallax">

    <div id="group2" class="parallax__group">

        <div class="parallax__layer parallax__layer--fore">
            <div class="jumbotron jumbotron-fluid bg-secondary" id="title">
                <div class="container">
                    <h2>Smart Cycle Systems - история</h2>
                </div>
            </div>
        </div>

        <div class="parallax__layer parallax__layer--back">
            <div class="jumbotron jumbotron-fluid" id="first-page">
                <div class="container" id="description">
                    <p>
                        <br>
                        <br>
                        <br> Для меня, как и для многих, велосипед давно стал больше чем просто удобным средством добраться из
                        дома в оффис и обратно, велосипед стал для меня скорее образом жизни, а катание стало временем, когда
                        голова свободна от повседневных забот и обязательств.
                        <br> К сожалению, не всегда во время поездок погода идеальная. И вот, после очередной поездки по лужам,
                        я решил установить на велосипед заднее крыло.
                        <br> К моему большому удивлению, я не смог найти подходящий мне вариант. Таким образом пару недель спустя
                        появился первый прототип.
                        <br>В результате, когда появились универсальные крылья и велокейсы, я подумал, что все эти аксессуары
                        могут быть полезны не только мне, и создал этот сайт.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="group3" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <div class="jumbotron  bg-secondary">
                <div class="container" id="second-page">
                    <p>Этот блок содержит статьи, освещаюшие особеости эксплуатации байка, информацию о которых
                        обычно довольно трудно найти.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="article">
                                <h4>Калибр для определения износа звезд</h4>
                                <br>
                                Все велосипедные компоненты имеют свой ресурс, и велосипедные цепи со звездами не исключение.
                                <br> И здесь очень важно не пропустить момент, когда когда велосипедную цепь пора менять. Для
                                определения износа цепи есть специальный инструмент, можно воспользоваться штангенциркулем
                                например. Но как при замене цепи определить износ звезд, ведь если износ превышает допустимый,
                                замене подлежат и изношенные звезды тоже, иначе они очень быстро убьют новую цепь. Обычно
                                износ звезд определяется визуально. Однако если Вы не механик велосервиса, результат визуальной
                                оценки будет очень приблизительный. К счастью существует способ точно определить пригодность
                                звезд для дальнейшей эксплуатации.
                                <br> Более того, все необходимое для этого у Вас скорее всего уже имеется...
                                <br> Для проверки звезд можно использовать любой круглый предмет, главное, чтобы его диаметр
                                был в точности равен 10 миллиметрам. Я использовал для этой цели хвостовую часть сверла.
                                <br>
                                <br>Технология проверки следующая:
                                <br> вставляем калибр цилиндрической поверхностью до упора в углубление между зубьев, и если
                                между калибром и дном углубления остается зазор, значит все в порядке.
                                <br> Примеры рабочих звезд кассеты и системы на фото ниже:
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                    <a href="/assets/images/002sporcket1.jpg" target="_blank" class="text-dark">
                                        <img src="/assets/images/002sporcket1.jpg" alt="Bike with plastic case" style="width:100%">
                                    </a>
                                </div>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                    <a href="/assets/images/002sporcket2.jpg" target="_blank" class="text-dark">
                                        <img src="/assets/images/002sporcket2.jpg" alt="Bike with plastic case" style="width:100%">
                                    </a>
                                </div>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                    <a href="/assets/images/002system1.jpg" target="_blank" class="text-dark">
                                        <img src="/assets/images/002system1.jpg" alt="Bike with plastic case" style="width:100%">
                                    </a>
                                </div>
                                <br>
                                <br> Если калибр полностью ложится на дно углубления, как на следующих фото, значит нужно задумываться
                                о замене, во всяком случае не стоит устанавливать новую цепь на такие звезды.
                                <br>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                    <a href="/assets/images/scs-tool-for-sprocket-icon.jpg" target="_blank" class="text-dark">
                                        <img src="/assets/images/scs-tool-for-sprocket-icon.jpg" alt="Bike with plastic case" style="width:100%">
                                    </a>
                                </div>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                    <a href="/assets/images/002sporcket4.jpg" target="_blank" class="text-dark">
                                        <img src="/assets/images/002sporcket4.jpg" alt="Bike with plastic case" style="width:100%">
                                    </a>
                                </div>
                                <br>
                                <br>Еще нужно учитывать, что на шимановских звездах периодически повторяются специальные зубцы
                                для легкого захода и схода цепи при переключении. Не нужно измерять впадины возле этих зубцов
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="article">
                                <h4>Набор для прокачки тормозов Avid своими руками</h4>
                                Рано или поздно у счастливых обладателей гидравлических тормозов возникает проблема их прокачки. Лично я предпочитаю делать
                                все сам, по возможности, и в случае с моими томозами Avid Elixir я был шокирован ценой необходимого
                                для прокачки набора.
                                <br> Как оказалось, все компоненты для такого набора легко можно приобрести за незначительную
                                сумму, и здесь мне хотелось бы поделиться с Вами моим рецептом.
                                <br>Так выглядит готовый набор:
                                <br>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                    <a href="/assets/images/003set.png" target="_blank" class="text-dark">
                                        <img src="/assets/images/003set.png" alt="Bike with plastic case" style="width:100%">
                                    </a>
                                </div>
                                <br>А теперь о том, из чего собираем комплект.
                                <br> Нам понадобятся:
                                <br> 1. Два медицинских шприца из ближайшей аптеки объемом не менее 20 ml. Рекомендую использовать
                                шприцы с резиновым поршнем.
                                <br> 2. Резиновый шланг от велосипедного насоса длиной около 27см. Этот куплен на велорынке за
                                15грн.
                                <br>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                        <a href="/assets/images/003pipe.png" target="_blank" class="text-dark">
                                            <img src="/assets/images/003pipe.png" alt="Bike with plastic case" style="width:100%">
                                        </a>
                                </div>
                                <br> 3. Два регулировочных винта натяжения тросика ХВЗ (по крайней мере так их называют продавцы
                                на рынке "Барабашово"). Винты полые внутри, куплены по 5 грн/штука.
                                <br>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                        <a href="/assets/images/003adjustscrew1.png" target="_blank" class="text-dark">
                                            <img src="/assets/images/003adjustscrew1.png" alt="Bike with plastic case" style="width:100%">
                                        </a>
                                </div>
                                <div class="thumbnail thumbnail-rounded" id="illustration">
                                        <a href="/assets/images/003adjustscrew2.png" target="_blank" class="text-dark">
                                            <img src="/assets/images/003adjustscrew2.png" alt="Bike with plastic case" style="width:100%">
                                        </a>
                                </div>
                                <br>
                                <h5>Технология изготовления следующая:</h5>
                                1. Разрезаем шланг от насоса на две неравные части, как на фото, срезаем со шланга штуцера.
                                В итоге меня получились куски 9 см и 16 см.
                                <br> 2. Скручиваем с регулировочных винтов гайки (гайки нам не понадобятся).
                                <br> 3. Вкручиваем в каждый кусок шланга по регулировочному винту так, чтобы снаружи осталось
                                приблизительно пять витков резьбы плюс запас на ширину будущего реза.
                                <br> 4. Отрезаем утолщение на регулировочном винте (Я это сделал ножовкой по металлу).
                                <br> 5. Надеваем шланги на шприцы.
                                <br><h6> Набор готов!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax__layer parallax__layer--deep">
            <div class="jumbotron jumbotron-fluid bg-dark">
                <div class="container" id="last-page">
                    <h3>В галлерее показаны дополнительные велоаксессуары.</h3>
                    <div class="row">
                            <div class="col-md-2" *ngFor="let photo of photos">
                              <div class="thumbnail thumbnail-rounded">
                                <a href={{photo.url}} target="_blank" class="text-dark">
                                  <img id="photo" src={{photo.url}} alt="Turnstiles Skif in Baku" style="width:100%">
                                  <div class="caption">
                                    <p class="text-muted" id="photo-description">{{photo.description}}</p>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                </div>
            </div>
            <img class="center-img" src="/assets/images/night-city.png" alt="Chania">
        </div>
    </div>
</div>