@font-face {
  font-family: Roboto-Light; 
  src: url('https://fonts.googleapis.com/css?family=Roboto'); 
}
@font-face {
  font-family: Roboto-Thin; 
  src: url(/assets/fonts/Roboto-Thin.ttf); 
}
@font-face {
  font-family: Roboto-Bold; 
  src: url(/assets/fonts/Roboto-Bold.ttf); 
}
@font-face {
  font-family: Roboto-Black; 
  src: url(/assets/fonts/Roboto-Black.ttf); 
}

/* ------------------------------------------------------------------------------------ */
h4{
font-family: Roboto-Black;
text-shadow: 1px 1px 2px black, 0 0 1em red;
}

#description{
font-family: Roboto-Bold;
color: rgb(77, 84, 90);
min-height: 1000px;
}

.good-item-wrapper{
padding-left: 0;
padding-right: 0;
text-align: center;
}

.good-item-card{
border: solid 1px white;
margin: 5px;
padding: 3px;
}

.item-title{
min-height: 90px;
}

.good-items{
margin-left: 5px;
margin-right: 5px;
}

#left-img{
width: 300px;
margin: 0 auto;
border: solid 2px rgb(108, 117, 125);
}

.good-item__btn-add{
padding-left: 1px;
padding-right: 1px;
}

/* ------------------------------------------------------------------------------------ */
.jumbotron {
font-family: Roboto-Thin; 
font-size: 1.4em; 
text-align: justify;
color: rgb(223, 221, 221);
padding-bottom: 10px;
margin-bottom: 150px;
}

.center-img {
display: block;
margin: 0 auto;
}

#title{
height: 140px;
}

#first-page{
background: url(/assets/images/road-under-blue-sky.png) top no-repeat;
}

#last-page{
text-align: center;
}
  
/* Parallax base styles  --------------------------------------------- */
  
.parallax {
height: 1300px;
overflow-x: hidden;
overflow-y: auto;
-webkit-perspective: 300px;
perspective: 300px;
}

.parallax__group {
position: relative;
height: 1300px; 
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.parallax__layer {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.parallax__layer--fore {
-webkit-transform: translateZ(90px) scale(.7);
transform: translateZ(90px) scale(.7);
z-index: 1;
right: -3px;
}

.parallax__layer--base {
-webkit-transform: translateZ(0);
transform: translateZ(0);
z-index: 4;
}

.parallax__layer--back {
margin-top: 100px;
-webkit-transform: translateZ(-300px) scale(2);
transform: translateZ(-300px) scale(2);
left: -3px;
z-index: 3;
}

.parallax__layer--deep {
-webkit-transform: translateZ(-600px) scale(3);
transform: translateZ(-600px) scale(3);
margin-top: 1200px;
margin-bottom: 1000px;
left: -0.5em;
z-index: 2;
}

/* style the groups
--------------------------------------------- */

#group2 {
z-index: 3; 
}
#group2 .parallax__layer--back {
background: rgb(119, 199, 218);
}

#group3 {
z-index: 4; 
}

@media screen and (max-width: 1200px) {
.parallax__layer--fore {
    right: -2px;
}
#last-page{
  padding-top: 800px;
}
}

@media screen and (max-width: 992px) {
#last-page{
  padding-top: 1400px;
}

p{
  font-size: 0.8em;
}
}

@media screen and (max-width: 768px) {
#last-page{
  padding-top: 2000px;
}
.jumbotron{
  font-size: 1.2em;
}
}

@media screen and (max-width: 576px) {
#title{
  height: 155px;
}
#first-page{
  padding-top: 100px;
}
.parallax__layer--fore {
  padding-top: 35px;
}
#last-page{
  padding-top: 2500px;
}

p{
  font-size: 0.7em;
}

}    
  
  