<div class="parallax">

        <div id="group2" class="parallax__group">

          <div class="parallax__layer parallax__layer--fore">
              <div class="jumbotron jumbotron-fluid bg-secondary" id="title">
                  <div class="container">
                    <h2> Стоимость доставки </h2>
                  </div>
            </div>
          </div>

          <div class="parallax__layer parallax__layer--back">
                <div class="jumbotron jumbotron-fluid" id="first-page">
                </div>
          </div>
        </div>

        <div id="group3" class="parallax__group">

          <div class="parallax__layer parallax__layer--base">
              <div class="jumbotron jumbotron-fluid bg-secondary">
                  <div class="container" id="second-page">
                      <br> Доставка заказов по Украине
                      <span class="redtext">бесплатна</span> , при сумме заказа более 1000 гривен. 
                      При сумме заказа до 1000 гривен, стоимость доставки по Украине
                      оплачивается покупателем согласно тарифов компании грузоперевозчика.
                      <br>
                      <br>
                      <h4>Способы доставки</h4>
                      <br> Доставка заказов по Украине осуществляем через компанию Новая Почта
                      <a href="http://www.novaposhta.com.ua" target="_blank" title="Сайт компании Новая Почта">
                        www.novaposhta.com.ua
                      </a>
                  
                      <br> Доставка осуществляется по принципу СКЛАД-СКЛАД, т.е. 
                      Вам будет необходимо забрать свой заказ в представительстве компании
                      Новая Почта. Если Вам необходима доставка домой, то Вы можете заказать 
                      анную услугу непосредственно у грузоперевозчика
                      (после прибытия груза в Ваш город) - связавшись по телефону.
                      <br>
                      <br>
                      <h4>Время доставки</h4>
                      <br> Заказанный товар будет отправлен в день оплаты заказа, в исключительных ситуациях
                       отправка может занимать до трех дней.
                      Время доставки Вашего заказа зависит от отдаленности вашего населенного пункта от города Харькова.
                    </div>
                </div>
          </div>

          <div class="parallax__layer parallax__layer--deep">
              <div class="jumbotron jumbotron-fluid bg-dark">
                  <div class="container" id="last-page">
                      <h2>Получение товара</h2>
                      <br> После отправки заказа менеджер сообщит Вам номер грузовой декларации, 
                      и ориентировочную дату прибытия в ваш город. Когда
                      наступит эта дата, позвоните в транспортную компанию,
                       назовите номер декларации и узнайте, прибыл ли ваш груз. Будьте
                      внимательны - следите за датой прибытия заказа в ваш город, иначе Вам 
                      придется оплатить хранение груза на складе перевозчика.
                      Перед тем, как отправиться для получения своего заказа в транспортную компанию - убедитесь,
                       что Вы взяли с собой паспорт,
                      который необходим для получения груза.
              </div>
          </div>
            <img class="center-img" src="/assets/images/night-sity-and-lorry.png" alt="night-sity">
         </div>
        </div>
      </div>









