@font-face {
  font-family: Roboto-Thin; 
  src: url(/assets/fonts/Roboto-Thin.ttf); 
}

.jumbotron {
  font-family: Roboto-Thin; 
  font-size: 1.4em; 
  text-align: justify;
  color: rgb(223, 221, 221);
}

.center-img {
display: block;
margin: 0 auto;
}

#title{
height: 140px;
}

#first-page{
background: url(/assets/images/road-under-blue-sky-and-lorry.png) top no-repeat;
height: 1300px;
}

#second-page{
  height: 1300px;
}

/* Parallax base styles  --------------------------------------------- */

.parallax {
  height: 1300px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 1300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
  right: -3px;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  margin-top: 100px;
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  left: -3px;
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  margin-top: 1200px;
  margin-bottom: 1000px;
  left: -0.5em;
  z-index: 2;
}

/* style the groups
--------------------------------------------- */

#group2 {
  z-index: 3; /* slide under groups 1 and 3 */
}
#group2 .parallax__layer--back {
  background: rgb(119, 199, 218);
}

#group3 {
  z-index: 4; /* slide over group 2 and 4 */
}

@media screen and (max-width: 1200px) {
  .parallax__layer--fore {
    right: -2px;
  }
}

@media screen and (max-width: 576px) {
  .parallax__layer--fore {
    padding-top: 35px;
  }

 .jumbotron{
   font-size: 1.1em;
 }
  
}

