<div class="parallax">

    <div id="group2" class="parallax__group">

        <div class="parallax__layer parallax__layer--fore">
            <div class="jumbotron jumbotron-fluid bg-secondary" id="title">
                <div class="container">
                    <h2>Видеоинструкции по установке крыльев и велокейсов</h2>
                </div>
            </div>
        </div>

        <div class="parallax__layer parallax__layer--back">
            <div class="jumbotron jumbotron-fluid" id="first-page">
                <div class="container" id="description">
                    <p>
                        <br>
                        <br>
                        <br>Установить самостоятельно любой из наших компонентов очень просто.
                        <br>Когда крыло или велокейс устанавливается первый раз, на раму нужно предварительно наклеить самоклеющиеся
                        ZIP-ленты.
                        <br>Эти ZIP-ленты идут в комплекте с крыльями и велокейсами пристегнутые в точках крепления с внутренней
                        стороны. Для наклейки нужно приложить к раме велокейс или крыло так, как они должены быть на ней
                        размещены, затем нужно снять защитные полоски с клейкой ленты, и как можно сильнее прижимать приклеиваемые
                        части к раме.
                        <br>После этого при открытии боковины велокейса или отсоединении крыла ZIP-лента останется приклееной
                        к раме в нужном месте.
                        <br>Для достижения наилучшего результата клеить нужно на чистую обезжиренную поверхность.
                    </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div id="group3" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <div class="jumbotron jumbotron-fluid bg-secondary" id="videoinstructions">
                <div class="container">
                    <br> Вот так устанавливается защита каретки:
                    <div class="video" id="protection-installation">
                        <video src="/assets/video/installation-of-SCS-bike-protection.mp4" width="1280" height="720" controls></video>
                    </div>
                    <br> Ничуть не сложнее и установка крыльев.
                    <br> На видео ниже закрепляем брызговик над задним колесом:
                    <div class="video" id="wing-bottom-installation">
                        <video src="/assets/video/installation-of-SCS-bike-bttom-wing.mp4" width="1280" height="720" controls></video>
                    </div>
                    <br> или устанавливаем брызговик спереди:
                    <div class="video" id="wing-installation">
                        <video src="/assets/video/installation-of-SCS-bike-wing.mp4" width="1280" height="720" controls></video>
                    </div>
                    <br> А это процесс установки велокейса:
                    <div class="video" id="case-installation">
                        <video src="/assets/video/installation-of-SCS-bike-case.mp4" width="1280" height="720" controls></video>
                    </div>

                    Наклеивать ZIP-ленты лучше всего так:
                    <div class="video" id="case-installation-with-taping">
                        <video src="/assets/video/installation-of-SCS-bike-case--with-taping.mp4" width="1280" height="720" controls></video>
                    </div>

                    Застежки имеют определенный ресурс. Для ZIP-ленты, например, ресурс составляет около 1000 циклов.
                    <br> В зависимости от интенсивности эксплуатации срок службы застежек может составить многие годы, но при
                    очень интенсивном катании может получиться и несколько месяцев.
                    <br> В этом случае нужно будет заменить износившуюся часть застежки, как это показано на видео ниже:
                    <div class="video" id="case-installation">
                        <video src="/assets/video/changing-of-SCS-ZIP-strip.mp4" width="1280" height="720" controls></video>
                    </div>

                    <br> И в заключение видео о том, как лучше всего разместить смартфон в дороге:
                    <p>
                        <a name="smartholder-installation"></a>
                    </p>
                    <div class="video">
                        <video src="/assets/video/installation-of-SCS-bike-smartholder.mp4" width="1280" height="720" controls></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>