/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */

.modal-header, .modal-body, .modal-footer{
  font-family: 'Roboto', sans-serif;
  font-size:1em;
}

.modal-body {
    text-align: justify;
}

/* .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
} */

/* .ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
} */